@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

.root {
  background-color: var(--border-tertiary);
  border-radius: $radius-component;
  animation: skeleton-pulse $transition-long ease-in-out infinite;
}

// Layout variants
.block {
  display: block;
  width: 100%;
}

.text {
  display: inline-block;
  vertical-align: baseline;
}

// Component-matching variants (align with Card, Button, list rows)
.card {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-radius: $radius-component;
}

.buttonSm {
  width: 100px;
  height: 32px;
  border-radius: $radius-component;
  flex-shrink: 0;
}

.buttonIconSm {
  width: 48px;
  height: 48px;
  border-radius: $radius-component;
  flex-shrink: 0;
}

.listLine {
  height: $body2 * 1.5;
  width: calc(100% - 2em);
  margin-left: 2em;
  border-radius: $radius-s;
}

// Typography variants (for text skeletons)
.h1 {
  @include h1;
  height: 1em;
}

.h2 {
  @include h2;
  height: 1em;
}

.h3 {
  @include h3;
  height: 1em;
}

.h4 {
  @include h4;
  height: 1em;
}

.h5 {
  @include h5;
  height: 1em;
}

.h6 {
  @include h6;
  height: 1em;
}

.subtitle1 {
  @include subtitle1;
  height: 1em;
}

.subtitle2 {
  @include subtitle2;
  height: 1em;
}

.subtitle3 {
  @include subtitle3;
  height: 1em;
}

.body1 {
  @include body1;
  height: 1em;
}

.body2 {
  @include body2;
  height: 1em;
}

.body3 {
  @include body3;
  height: 1em;
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
