@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

.root {
  color: var(--text-primary);
  text-decoration: none;
  transition: color $transition-short;
  cursor: pointer;

  &:hover {
    color: var(--text-secondary);
  }

  &:focus-visible {
    @include focus-visible;
  }
}

.primary {
  color: var(--theme-accent);

  &:hover {
    color: var(--theme-accent-hover);
  }
}

.underline {
  text-decoration: underline;
  text-underline-offset: $spacing-xs;

  &:hover {
    text-decoration-thickness: 2px;
  }
}
